numpy==2.1.2
jupyter==1.1.1
json-tricks==3.17.3
ipykernel==6.29.5
jupyter==1.1.1
scipy==1.14.1
python-Levenshtein==0.26.1
matplotlib==3.9.2
tqdm==4.67.0
scikit-learn==1.6.0
pandas==2.2.3
lovely_numpy==0.2.13
pillow==11.0.0
torch==2.7.0